*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
body{
    background-image: url(../images/background.png);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#menu{
    width: 10vw;
    display: flex;
    padding: 20px 20px;
    height: 100%;
    z-index: 3;
}
.container{
    height: 100%;
    transition: .3s;
    background-color: #343030;
    width: 80px;
    padding: 20px 0;
    box-shadow: 8px 0px 9px 0px #00000014;
    backdrop-filter: blur(5px);
    min-height: 100vh;
}
.ul-menu li{
    list-style: none;
    border-radius: 0px 50px 50px 0;
    transition: .3s;
    margin-bottom: 20px;
    padding-left: 20px;
}
a{
    text-decoration: none;
    color: rgb(213, 213, 213);
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
.list{
    background: #0c0c0c;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    padding: 8px;
}
li :hover{
    background: #0c0c0c;
}
li span:nth-child(2){
    display: none;
}
#menu :hover{
    width: 240px;
}
#menu :hover li span:nth-child(2){
    display: block;
}
#menu :hover img:nth-child(1){
    width: 45px;
}
header{
    width: 100vw;
    display: flex;

}
main{
    position: absolute;
    margin: 20vh;
    margin-left: 15vw;
    width: 82vw;
    text-align: justify;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}
#menu :hover body{
    background-color: rgba(169, 169, 169, 0.815);
}
hr{
    width: 75vw;
    border: .3vh dashed #616095;
}
#header{
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: -50px;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 2vh;
    gap: 2vh;
}
.buttons button{
    display: flex;
    flex-direction: row;
    width: 150px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    border: none;
    background-color: #CDCACA;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5vh;
}
.text-1 {
    background-color: #6c6c6c7f;
    font-family: 'Handlee', cursive;
    font-style: italic;
    font-size: 2.2vh;
    letter-spacing: 5px;
    padding: 2vh;
    border-radius: 2vh;
    width: 95%;
}
.text-2 {
    background-color: #b092adc3;
    font-family: 'Handlee', cursive;
    font-size: 2.2vh;
    letter-spacing: 5px;
    padding: 2vh;
    border-radius: 2vh;
    width: 100%;
    text-align: justify;
}
.left{
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 2vh;
    gap: 5vh;
}
.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 5vh;
    padding: 2vh;
    font-family: 'Handlee', cursive;
}
.mainimg{
    width: 80%;
}
.enun{
    font-family: 'Handlee', cursive;
    font-size: 3vh;
    letter-spacing: 8px;
    padding: 2vh;
}
.text-li{
    background-color: #b092adc3;
    font-family: 'Handlee', cursive;
    font-size: 2.2vh;
    letter-spacing: 5px;
    padding: 2vh;
    border-radius: 2vh;
    width: 80%;
    text-align: left;
    padding-left: 5vw;
}
.left-arq{
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.sup-esq{
    width: 40vw;
    height: 40vh;
    border-radius: 15px;
    background-color: #939392;
}
.sup-dir{
    width: 35vw;
}
.sup-dir img{
    width: 100%;
}
.inf-esq{
    background-color: #cbc5c5;
    width: 65%;
    height: 50vh;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}
.inf-dir{
    background-color: #956089b0;
    width: 25vw;
    height: 50vh;
    font-family: 'Handlee', cursive;
    font-size: 2.2vh;
    letter-spacing: 5px;
    padding: 2vh;
    border-radius: 2vh;
    margin-top: 2vh;
}
.whitetext{
    font-family: 'Handlee', cursive;
    font-size: 3vh;
    letter-spacing: 5px;
    padding: 2vh;
    color: #ffffff;
}
.arq-li{
    font-family: 'Handlee', cursive;
    font-size: 2.2vh;
    letter-spacing: 5px;
    padding: 2vh;
    border-radius: 2vh;
    width: 100%;
    text-align: left;
    padding-left: 5vw;
}
.seta-esq{
    border: none;
    rotate: 180deg;
    background-color: #cbc5c5;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.seta-dir{
    border: none;
    background-color: #cbc5c5;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.img-arq{
    width: 60%;
    padding: 15px;
}
.contato{
    width: 100%;
    height: 100vh;
    background-color: #b092adc1;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.cont-esq{
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
    font-family: 'Handlee', cursive;
    font-size: 2.2vh;
    letter-spacing: 5px;
    padding: 2vh;
}
input {
    width: 28vw;
    margin: 1vw;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: #d6d4d4;
}
label{
    font-size: 18px;
    margin: 1vw;
    width: 200px;
    letter-spacing: 1vw;
}
textarea{
    margin-top: 2vh;
    width: 29vw;
    height: 250px;
    border: none;
    border-radius: 15px;
    background-color: #d6d4d4;
    justify-content: end;
}
.carousel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 14px 0;
    transition: all 0.25s ease-in;
}
.carousel .item-list {
    max-width: 550px;
    width: 100%;
    padding: 30px 10px;
    display: flex;
    gap: 48px;  
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    transition: all 0.25s ease-in;
    overflow: auto;
    scroll-snap-type: x mandatory;
}
.item-list::-webkit-scrollbar {
    display: none;
}  
.item {
    scroll-snap-align: center;
    min-width: 300px;
    height: 300px;
    border-radius:8px;
}
form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.p1-contato{
    font-size: 24px;
    margin: 10px;
}
#limpar{
    margin-left: 18vw;
    margin-top: 2vh;
    width: 12vw;
    height: 6vh;
    background-color: #EAB394;
}
#enviar{
    margin-top: 2vh;
    width: 12vw;
    height: 6vh;
    background-color: #B6E9A4;
}
.cont-dir{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Handlee', cursive;
    font-size: 1.6vh;
    letter-spacing: 5px;
    padding: 2vh;
    align-items: start;
    justify-content: space-between;
}
.mark-icon{
    height: 50px;
    margin: 10px;
    margin-top: 12vh;
}
.icon-cont{
    height: 20px;
    margin: 1vh;
}
.p1-end{
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.p1-end-h1{
    font-size: 2.5vh;
    margin-top: 2vh;
}
.inicial{
    display: flex;
    flex-direction: column;
}
.inicial img{
    width: 30%;
}
.inicial h1, h2{
    font-family: 'Courier New', Courier, monospace;
    width: 90%;
    background-color: #bbbadb;
    border-radius: 15px;
    padding: 30px;
}
.container-apres{
    display: flex;
}
.card{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dots{
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
    position: absolute;
    top: .5rem;
    right: 1rem;
}
.card .photo{
    width: 20em;
    height: 20em;
    border-radius: 50%;
}
.title-card{
    font-size: 2em;
    text-align: start;
    font-family: "Handlee", cursive;
    color: rgb(21, 12, 31);
}
.information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 2rem;
}
.information p{
    margin: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    color: #060608;
}
.information p::before{
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}
.information .job{
    background-image: url('/assets/images/svg/user.svg');
    background-repeat: no-repeat;
}
.information .location{
    background-image: url('/assets/images/svg/map.svg');
    background-repeat: no-repeat;
}
.information .phone{
    background-image: url('/assets/images/svg/call.svg');
    background-repeat: no-repeat;
}
.information .email{
    background-image: url('/assets/images/svg/email.svg');
    background-repeat: no-repeat;
}
.card-frame{
    display: flex;
    flex-direction: column;
    background: hsla(342, 5%, 36%, 1);
    background: hsla(345, 37%, 47%, 1);
    background: linear-gradient(135deg, hsla(345, 37%, 47%, 1) 0%, hsla(202, 92%, 77%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(345, 37%, 47%, 1) 0%, hsla(202, 92%, 77%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(345, 37%, 47%, 1) 0%, hsla(202, 92%, 77%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A54C62", endColorstr="#8ED2FA", GradientType=1 );
    margin: .5rem;
    border-radius: 2em;
    padding: 2em;
    position: relative;
}
.acordeon{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #060608;
    border-radius: 1rem;
    margin: 1rem 0;
    transition: .25s;
}
.acordeon .content-ac{
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}
.acordeon .trigger{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    border: none;
}
.acordeon.open,
.acordeon:hover{
    background-color: #55569E;
    border-color: #55569E;
    border-radius: 1rem;
    color: #fff;
}
.acordeon .trigger:hover{
    cursor: pointer;
    color: white;
}
.acordeon .trigger::after{
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/images/svg/arrow-up.svg');
    color: #fff;
    transition: .25s;
}
.acordeon.open .trigger::after{
    transform: rotateX(180deg);
}
.acordeon.open .content-ac{
    display: block;
    height: auto;
    opacity: 1;
}
.languages{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;   
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content:space-around;
}
.languages li{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    font-weight: 700;
}
.languages li::before{
    content: "";
    display: block;
    width: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/images/svg/ok.svg');
    margin-right: .5rem;
}
.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.portfolio li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}
.portfolio li .title{
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem;
    align-items: center;
    margin-left: 2rem;
}
.portfolio li .title.github::before{
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/images/svg/github.svg');
    margin-right: .5rem;
    background-color: #B6E9A4;
}
.portfolio li a{
    color: #fff;
    text-decoration: none;
    margin-left: 2rem;
}
.portfolio li a:hover{
    text-decoration: underline;
}
.information a{
    color: #060608;
    font-family: Arial, Helvetica, sans-serif;
}
.experience p{
    color: #fff;
    text-decoration: none;
    margin-left: 2.5rem;
}
.experience{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.experience li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}
.experience li .title{
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem;
    align-items: center;
    margin-left: 2rem;
}
.experience li .calendar::before{
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/images/svg/calendar.svg');
    margin-right: .5rem;
    background-color: #d38d24;
}
.skills{
    display: flex;
    flex-direction: column;
}
.skills .tools{
    margin-left: 2rem;
}
.skills .personal{
    margin-left: 2rem;
}
.skills .tools ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.skills .tools ul li img{
    max-width: 50px;
    margin: .5rem;
}
.skills .personal ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.skills .personal ul li{
    margin-left: 1.5rem;
    padding: .5rem;
}

@media (min-width: 250px) and (max-width: 900px) {
    .button-cad p, .button-user p{
        display: none;
    }
    .buttons {
        width: 40%;
        margin-right: 120px;
    }
    .logomarca{
        width: 30vw;
    }
    .inicial{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: end;
        margin-right: 5vw;
    }
    .inicial img{
        width: 30vw;
    }
    .inicial h1, h2{
        font-family: 'Courier New', Courier, monospace;
        font-size: medium;
        width: 70%;
        background-color: #bbbadb;
        border-radius: 15px;
        padding: 30px;
    }
    .container-apres{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 80px;
    }
    .left{
        width: 100%;
    }
    .text-1{
        font-size: small;
        width: 70vw;
    }
    .text-2{
        font-size: small;
        width: 70vw;
    }
    .right{
        width: 100%;
    }
    .left-arq{
        width: 100%;
    }
    .enun{
        font-size: medium;
        text-align: center;
        width: 70vw;
    }
    .right-arq{
        width: 100%;
         
    }
    .text-li{
        font-size: small;
        margin-left: 80px;
        width: 70vw;
    }
    .right-arq img{
        height: 50vh;
    }
    .whitetext{
        font-size: medium;
    }
    .arq-li{
        font-size: small;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15em;
        padding: .5em;
        margin-left: 5em;
    }
    .card .photo{
        width: 10em;
        height: 10em;
        border-radius: 50%;
    }
    hr{
        width: 70vw;
    }
    .title-card{
        font-size: 1em;
        text-align: center;
        font-family: "Handlee", cursive;
        color: rgb(21, 12, 31);
    }
    .information{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-left: 1rem;
    }
    .information p{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: .7rem;
        color: #060608;
    }
    .information p::before{
        content: '';
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: .5rem;
        transform: scale(.3);
    }
    .dots{
        width: 3rem;
        height: 3rem;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: .5rem;
        position: absolute;
        top: .1rem;
        right: .2rem;
    }
    .languages li{
        font-size: medium;
        font-weight: 300;
    }
    .acordeon .trigger{
        font-size: 1rem;
    }
    .skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}